<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<!--Bootstrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>YUMBREL</title>
</head>
<body>
	<div class="container">
		<div class="card border-info mt-5" style="max-width: 100rem; max-height: 100rem;" >
			<div class="card-body mx-auto mt-5">
				<h2 class="display-1"> YUMBREL</h2>
				<br>
				
				<a href="/login" class="btn btn-light  btn-lg btn-block ">
					Login
				</a>
				<br>
				<a href="/signup" class="btn btn-light  btn-lg btn-block" >
					Signup
				</a>
				<br>
			</div>
		</div>
	</div>

</body>
</html>