<<<<<<< HEAD
.login {
}
  
  .signup {
    
=======
/* .login {
    background: #56ab2f; 
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  
  background: linear-gradient(to right, #a8e063, #56ab2f);
  }
  
  .signup {
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
  } */
  #trans{
    
    text-align:center;
    justify-content: center;
>>>>>>> ac1f6fa2906b3f1ef21b4a2ae18816d9744b9019
  }