@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


  #trans{
    
    text-align:center;
    justify-content: center;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    color: #AA123B;
    
  }
  h1, .name{
    
    font-family: 'Montserrat', sans-serif;
    color: #AA123B;
    font-size: 1.5rem;

    
   
   
  }
  
  /* h1{
    font-family: 'Montserrat', sans-serif;
    color: #AA123B;
    
  } */